@charset "UTF-8";
/* em HTML É ID = CSS # */
/* em HTML é class  = em CSS é . */

body{
    background-color: rgba(127, 255, 212, 0.562);
    font-family: Arial, Helvetica, sans-serif;
}
h1{color: rgb(21, 110, 3);

}
h1#principal{
    text-align: center;
    background-color: rgb(4, 112, 18);
    color: white;
}
h2{color: rgb(5, 179, 34);

}
.bsico{color: red;
    font-weight: bold;}

.intermediario{color: rgba(0, 4, 255, 0.973);}

.avancado{color: purple;}

.destaque{color: rgb(223, 15, 213);
background-color: rgba(221, 160, 221, 0.281);}


